<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\CRLFruitstandESS.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
      
      <!-- Environment Variables for Production -->
      <environmentVariables>
        <environmentVariable name="PAYMONGO_SECRET_KEY" value="sk_live_KPjB2wBUEnMqwsLT5ppAZ8NPpk_live_5UE5xU5VjfLeNGtcwAYATTD3" />
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
      </environmentVariables>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: FA201D3E-B772-EA28-EC95-EDDBA375CD6F-->
